<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 control-column">
        <h1>Epaminondas</h1>
        <button type="button" class="btn btn-light btn-outline-info mt-2" data-toggle="modal" data-target="#create-game-modal">Создать игру</button>
        <button type="button" class="btn btn-light btn-outline-info mt-2" data-toggle="modal" data-target="#join-game-modal">Присоединиться к игре</button>
        <button type="button" class="btn btn-light btn-outline-info mt-2" v-clipboard:copy="gameId" v-if="gameId">Скопировать UUID игры</button>
      </div>
      <div class="col-7 table-column">
        <table class="board">
          <tbody>
            <tr class="board-header-row">
              <th class="board-col-header"></th>
              <th v-for="i in boardWidth" :key="i" class="board-col-header">{{getSymbol(i)}}</th>
              <th class="board-col-header"></th>
            </tr>
            <tr v-for="(row, j) in gameBoard" :key="j">
              <th class="board-row-header">{{boardHeight - j}}</th>
              <td v-for="cell in gameBoard[j]" class="board-cell" :key="cell.key" @click="onCellClickAction(cell)">
                <div class="cell-background" :class="getCellBackgroundClass(cell)">
                  <span v-if="isChecker(cell)" :class="getDotClass(cell)"/>
                </div>
              </td>
              <th class="board-row-header">{{boardHeight - j}}</th>
            </tr>
            <tr class="board-header-row">
              <th class="board-col-header"></th>
              <th v-for="i in boardWidth" :key="i" class="board-col-header">{{getSymbol(i)}}</th>
              <th class="board-col-header"></th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-3 stats-column">
        <div class="game-status-container">
          <h3 v-if="!status">Игра не запущена</h3>
          <h3 v-if="status === 'Starting'">Ждем противника</h3>
          <h3 v-if="isPlayerTurn">Ваш ход!</h3>
          <h3 v-if="isOpponentTurn">Ход противника</h3>
          <h3 v-if="isPlayerWon">Вы выиграли!</h3>
          <h3 v-if="isOpponentWon">Вы проиграли :(</h3>
          <p v-if="gameId">Id игры: <span class="monospaced" @click="copyToClipboard()">{{gameId}}</span></p>
        </div>
        <div class="player-container" v-if="status">
          <h3>Игрок</h3>
          <div class="player-info-container">
            <div>
              <div v-if="isWhite && status" class="player-white-dot"/>
              <div v-if="!isWhite && status" class="player-black-dot"/>
            </div>
            <div v-if="status" class="player-nickname"><span>Ник: <i>{{nickname}}</i></span></div>
          </div>
        </div>
        <div class="player-container" v-if="status">
          <h3>Противник</h3>
          <div class="player-info-container">
            <div>
              <div v-if="!isWhite && opponent" class="player-white-dot"/>
              <div v-if="isWhite && opponent" class="player-black-dot"/>
            </div>
            <div v-if="opponent" class="player-nickname"><span>Ник: <i>{{opponent}}</i></span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="create-game-modal" tabindex="-1" role="dialog" aria-labelledby="create-game-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="create-game-modal-label">Создать игру</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert" v-if="createGameAlertMessage">
              {{createGameAlertMessage}}
            </div>
            <form id="create-game-form">
              <div class="form-group">
                <label for="nickname-field" class="col-form-label">Введите ник</label>
                <input type="text" class="form-control" id="nickname-field" v-model="createGameNicknameField" required>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="white-color-radio" v-model="createGameIsWhiteField" :value="true" checked>
                <label class="form-check-label" for="white-color-radio">
                  Белый цвет шашек
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="black-color-radio" v-model="createGameIsWhiteField" :value="false">
                <label class="form-check-label" for="black-color-radio">
                  Черный цвет шашек
                </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button type="button" class="btn btn-primary" form="create-game-form" @click="createGame()">Создать</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="join-game-modal" tabindex="-1" role="dialog" aria-labelledby="join-game-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="join-game-modal-label">Войти в игру</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert" v-if="joinGameAlertMessage">
              {{joinGameAlertMessage}}
            </div>
            <form id="join-game-form">
              <div class="form-group">
                <label for="nickname-field" class="col-form-label">Введите ник</label>
                <input type="text" class="form-control" id="nickname-field" v-model="joinGameNicknameField" required>
              </div>
              <div class="form-group">
                <label for="uuid-field" class="col-form-label">Введите UUID игры</label>
                <input type="text" class="form-control" id="uuid-field" v-model="joinGameUuidField" required>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button type="button" class="btn btn-primary" form="join-game-form" @click="joinGame()">Войти</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery';
import 'bootstrap';
import Vue from 'vue'
import VueClipboard from 'vue-clipboard2'

Vue.use(VueClipboard)

export default {
  name: 'HelloWorld',
  data: () => ({
    uuidRegex: /^[0-9a-f]{7,8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{11,12}$/i,
    //e4223eb2-06a2-446b-bf0d-960dbf9a0ba9w
    nickname: '',
    isWhite: true,
    boardWidth: 14,
    boardHeight: 12,
    gameBoard: [],
    palanxHead: undefined,
    palanxTail: undefined,
    palanxDirection: undefined,
    palanxLength: 0,
    possibleMoves: [],
    opponent: undefined,
    status: undefined,
    gameId: '',
    createGameNicknameField: '',
    createGameIsWhiteField: true,
    createGameAlertMessage: undefined,
    joinGameUuidField: '',
    joinGameNicknameField: '',
    joinGameAlertMessage: undefined,
    gameIdToJoin: undefined
  }),
  beforeMount(){
    this.initGameBoard()
  },
  computed: {
    isPlayerTurn: function() {
      return (this.status === 'WhiteTurn' && this.isWhite) || (this.status === 'BlackTurn' && !this.isWhite)
    },
    isOpponentTurn: function() {
      return (this.status === 'WhiteTurn' && !this.isWhite) || (this.status === 'BlackTurn' && this.isWhite)
    },
    isPlayerWon: function() {
      return (this.status === 'WhiteWon' && this.isWhite) || (this.status === 'BlackWon' && !this.isWhite)
    },
    isOpponentWon: function() {
      return (this.status === 'WhiteWon' && !this.isWhite) || (this.status === 'BlackWon' && this.isWhite)
    }
  },
  methods: {
    createGame: function() {
      if (!this.createGameNicknameField) {
        this.createGameAlertMessage = 'Введите никнейм!'
        return
      }
      axios.post('/game', {
        playerName: this.createGameNicknameField,
        xCoord: this.boardHeight,
        yCoord: this.boardWidth,
        isWhite: this.createGameIsWhiteField
      })
      .then(response => {
        this.updateGameBoard(response.data.gameBoard.squares)
        this.status = response.data.status
        this.gameId = response.data.gameId
        this.nickname = this.createGameNicknameField
        this.isWhite = this.createGameIsWhiteField
        this.possibleMoves = []
        this.palanxHead = undefined,
        this.palanxTail = undefined,
        this.palanxDirection = undefined,
        this.palanxLength = 0,
        this.createGameAlertMessage = undefined
        this.opponent = undefined,
        this.hideModal('create-game-modal')
        this.startGameCheckProcess()
      })
      .catch(error => {
        this.createGameAlertMessage = error
      })
    },
    joinGame: function() {
      if (!this.joinGameNicknameField) {
        this.joinGameAlertMessage = 'Введите никнейм!'
        return
      }
      if (!this.joinGameUuidField) {
        this.joinGameAlertMessage = 'Введите UUID игры!'
        return
      }
      if (!this.uuidRegex.test(this.joinGameUuidField)) {
        this.joinGameAlertMessage = 'Введите корректный UUID!'
        return
      }
      axios.get('canJoin/' + this.joinGameUuidField)
      .then(response => {
        let canJoin = response.data
        if (!canJoin) {
          this.joinGameAlertMessage = 'Нет открытой игры с указанным UUID!'
          return
        }
        axios.put('join', {
          joiner: this.joinGameNicknameField,
          joinedGame: this.joinGameUuidField,
        })
        .then(response => {
          this.updateGameBoard(response.data.gameBoard.squares)
          this.status = response.data.status
          this.gameId = response.data.gameId
          this.nickname = this.joinGameNicknameField
          this.isWhite = this.nickname === response.data.whitePlayer
          if (this.isWhite === true) {
            this.opponent = response.data.blackPlayer
          } else {
            this.opponent = response.data.whitePlayer
          }
          this.joinGameAlertMessage = undefined
          this.possibleMoves = []

          this.palanxHead = undefined,
          this.palanxTail = undefined,
          this.palanxDirection = undefined,
          this.palanxLength = 0,
          this.createGameAlertMessage = undefined
          this.hideModal('join-game-modal')
          this.startGameCheckProcess()
        })
        .catch(error => {
          this.joinGameAlertMessage = error
        })
      })
      .catch(error => {
        this.joinGameAlertMessage = error
      })
    },
    hideModal: function(modalId) {
      $('#' + modalId).modal('hide')
      //hide the modal

      $('body').removeClass('modal-open')
      //modal-open class is added on body so it has to be removed

      $('.modal-backdrop').remove()
      //need to remove div with modal-backdrop class
    },
    getSymbol: function(index) {
      return String.fromCharCode(64 + index);
    },
    isChecker: function(cell) {
      return cell && (cell.color === 'White' || cell.color == 'Black')
    },
    getDotClass: function(cell) {
      if (cell && cell.color === 'White' && this.isWhite === true) {
        return 'white-dot white-dot-hoverable'
      }
      if (cell && cell.color === 'Black' && this.isWhite === false) {
        return 'black-dot black-dot-hoverable'
      }
      if (cell && cell.color === 'White') {
        return 'white-dot'
      }
      if (cell && cell.color === 'Black') {
        return 'black-dot'
      }
    },
    getCellBackgroundClass: function(cell) {
      if (cell && cell.isSelected === true) {
        return 'cell-background-selected'
      } else if (cell && cell.isMovePossible === true) {
        return 'cell-background-possible-move'
      }
    },
    onCellClickAction: function(cell) {
      if(!this.isPlayerTurn) {
        return
      }
      if(cell.color && (cell.color === 'White' && this.isWhite === true || cell.color === 'Black' && this.isWhite === false)) {
        this.toggleSelection(cell)
        return
      }
      if(cell.isMovePossible === true) {
        this.move(cell)
      }
    },
    move: function(cell) {
      if(this.palanxLength < 1) {
        return
      }
      if (this.palanxLength === 1 && this.palanxHead) {
        let contents = {
          color: this.palanxHead.color,
          position: this.palanxHead.position
        }
        this.sendMoveQuery(this.palanxHead.position, cell.position, contents, 'Piece')
        return
      }
      if (this.palanxLength > 1 && this.palanxHead) {
        let headIDiff = this.palanxHead.position[0] - cell.position[0]
        let headJDiff = this.palanxHead.position[1] - cell.position[1]
        let headDistance = Math.sqrt(headIDiff * headIDiff + headJDiff * headJDiff)
        let tailIDiff = this.palanxTail.position[0] - cell.position[0]
        let tailJDiff = this.palanxTail.position[1] - cell.position[1]
        let tailDistance = Math.sqrt(tailIDiff * tailIDiff + tailJDiff * tailJDiff)
        let isHeadFirst = headDistance <= tailDistance
        let contents = []
        this.fillSelectedList(this.palanxHead, contents)
        if (isHeadFirst === true) {
          if (this.palanxHead.position != contents[0].position) contents.reverse()
          this.sendMoveQuery(this.palanxHead.position, cell.position, contents, 'Phalanx')
        } else {
          if (this.palanxTail.position != contents[0].position) contents.reverse()
          this.sendMoveQuery(this.palanxTail.position, cell.position, contents, 'Phalanx')
        }
      }
    },
    fillSelectedList: function(element, list) {
      if (!element || !element.color || !element.position) {
        return
      }
      list.push({
        color: element.color,
        position: element.position
      })
      if (element.next) {
        this.fillSelectedList(element.next, list)
      }
    },
    sendMoveQuery: function(headPos, toPos, contents, tag) {
      let move = {
        action: {
          fromPos: headPos,
          toPos: toPos,
          moved: {
            tag: tag,
            contents: contents
          }
        },
        game: this.gameId,
        player: this.nickname
      }
      console.log(move)
      axios.put('move', move)
              .then(response => {
                console.log(response)
                this.updateGameBoard(response.data.gameBoard.squares)
                this.status = response.data.status
                this.possibleMoves = []
                this.palanxHead = undefined,
                this.palanxTail = undefined,
                this.palanxDirection = undefined,
                this.palanxLength = 0,
                this.startGameCheckProcess()
                return
              }).catch(error => { console.log(error) })
    },
    toggleSelection: function(cell) {
      if(!cell.color) {
        return
      }
      if(cell.isSelected === true) {
        if (this.equals(cell, this.palanxHead) && this.equals(cell, this.palanxTail)) {
          this.palanxHead = undefined
          this.palanxTail = undefined
          this.palanxLength = 0
        } else if (this.equals(cell, this.palanxHead)) {
          let newHead = this.palanxHead.next;
          this.palanxHead = newHead
          this.palanxLength = this.palanxLength - 1
        } else if (this.equals(cell, this.palanxTail)) {
          let newTail = this.findPreTail(this.palanxHead);
          newTail.next = undefined
          this.palanxTail = newTail
          this.palanxLength = this.palanxLength - 1
        } else {
          alert('Можно убрать только крайние шашки фаланги')
          return
        }
        if (this.equals(this.palanxHead, this.palanxTail)) {
          this.palanxDirection = undefined
        }
        cell.isSelected = false
      } else {
        if(cell.color === 'White' && this.isWhite === false || cell.color === 'Black' && this.isWhite === true) {
          return
        }
        if (!this.palanxHead || !this.palanxTail) {
          this.palanxHead = cell
          this.palanxTail = cell
          cell.isSelected = true
          this.palanxLength = 1
        } else {
          let success = this.validateAndAppendCell(cell)
          if(!success) {
            alert('Нельзя выбрать эту шашку')
            return
          }
          this.palanxLength = this.palanxLength + 1
        }
      }
      this.updatePossibleMoves()
      this.buildCellKey(cell)
    },
    validateAndAppendCell(cell) {
      let cellI = cell.position[0]
      let cellJ = cell.position[1]
      let headIDiff = this.palanxHead.position[0] - cellI
      let headJDiff = this.palanxHead.position[1] - cellJ
      let tailIDiff = this.palanxTail.position[0] - cellI
      let tailJDiff = this.palanxTail.position[1] - cellJ
      if(headJDiff === 0 && headIDiff === 0 || tailJDiff === 0 && tailIDiff === 0) {
        return
      }
      if(this.palanxDirection >= 0) {
        if (this.palanxDirection === 0 && (tailIDiff === 1 && tailJDiff === 0 || tailIDiff === -1 && tailJDiff === 0)) {
          this.setNewTail(cell)
          cell.isSelected = true
          return true
        } else if (this.palanxDirection === 1 && (tailIDiff === 1 && tailJDiff === 1 || tailIDiff === -1 && tailJDiff === -1)) {
          this.setNewTail(cell)
          cell.isSelected = true
          return true
        } else if (this.palanxDirection === 2 && (tailIDiff === 0 && tailJDiff === 1 || tailIDiff === 0 && tailJDiff === -1)) {
          this.setNewTail(cell)
          cell.isSelected = true
          return true
        } else if (this.palanxDirection === 3 && (tailIDiff === 1 && tailJDiff === -1 || tailIDiff === -1 && tailJDiff === 1)) {
          this.setNewTail(cell)
          cell.isSelected = true
          return true
        } else if (this.palanxDirection === 0 && (headIDiff === 1 && headJDiff === 0 || headIDiff === -1 && headJDiff === 0)) {
          this.setNewHead(cell)
          cell.isSelected = true
          return true
        } else if (this.palanxDirection === 1 && (headIDiff === 1 && headJDiff === 1 || headIDiff === -1 && headJDiff === -1)) {
          this.setNewHead(cell)
          cell.isSelected = true
          return true
        } else if (this.palanxDirection === 2 && (headIDiff === 0 && headJDiff === 1 || headIDiff === 0 && headJDiff === -1)) {
          this.setNewHead(cell)
          cell.isSelected = true
          return true
        } else if (this.palanxDirection === 3 && (headIDiff === 1 && headJDiff === -1 || headIDiff === -1 && headJDiff === 1)) {
          this.setNewHead(cell)
          cell.isSelected = true
          return true
        } else {
          return false
        }
      } else {
        if (tailIDiff === 1 && tailJDiff === 0 || tailIDiff === -1 && tailJDiff === 0) {
          this.palanxDirection = 0
          this.setNewTail(cell)
          cell.isSelected = true
          return true
        } else if (tailIDiff === 1 && tailJDiff === 1 || tailIDiff === -1 && tailJDiff === -1) {
          this.palanxDirection = 1
          this.setNewTail(cell)
          cell.isSelected = true
          return true
        } else if (tailIDiff === 0 && tailJDiff === 1 || tailIDiff === 0 && tailJDiff === -1) {
          this.palanxDirection = 2
          this.setNewTail(cell)
          cell.isSelected = true
          return true
        } else if (tailIDiff === 1 && tailJDiff === -1 || tailIDiff === -1 && tailJDiff === 1) {
          this.palanxDirection = 3
          this.setNewTail(cell)
          cell.isSelected = true
          return true
        } else if (headIDiff === 1 && headJDiff === 0 || headIDiff === -1 && headJDiff === 0) {
          this.palanxDirection = 0
          this.setNewHead(cell)
          cell.isSelected = true
          return true
        } else if (headIDiff === 1 && headJDiff === 1 || headIDiff === -1 && headJDiff === -1) {
          this.palanxDirection = 1
          this.setNewHead(cell)
          cell.isSelected = true
          return true
        } else if (headIDiff === 0 && headJDiff === 1 || headIDiff === 0 && headJDiff === -1) {
          this.palanxDirection = 2
          this.setNewHead(cell)
          cell.isSelected = true
          return true
        } else if (headIDiff === 1 && headJDiff === -1 || headIDiff === -1 && headJDiff === 1) {
          this.palanxDirection = 3
          this.setNewHead(cell)
          cell.isSelected = true
          return true
        } else {
          return false
        }
      }
    },
    updatePossibleMoves() {
      this.removePossibleMoves()
      if(!this.palanxHead || !this.palanxTail) {
        return
      }
      let palanxHeadI = this.palanxHead.position[0]
      let palanxHeadJ = this.palanxHead.position[1]
      let palanxTailI = this.palanxTail.position[0]
      let palanxTailJ = this.palanxTail.position[1]
      if(this.palanxLength === 1) {
        if(palanxHeadI + 1 < this.boardHeight) this.simpleAddPossibleMove(palanxHeadI + 1, palanxHeadJ)
        if(palanxHeadI + 1 < this.boardHeight && palanxHeadJ + 1 < this.boardWidth) this.simpleAddPossibleMove(palanxHeadI + 1, palanxHeadJ + 1)
        if(palanxHeadJ + 1 < this.boardWidth) this.simpleAddPossibleMove(palanxHeadI, palanxHeadJ + 1)
        if(palanxHeadI - 1 >= 0 && palanxHeadJ + 1 < this.boardWidth) this.simpleAddPossibleMove(palanxHeadI - 1, palanxHeadJ + 1)
        if(palanxHeadI - 1 >= 0) this.simpleAddPossibleMove(palanxHeadI - 1, palanxHeadJ)
        if(palanxHeadI - 1 >= 0 && palanxHeadJ - 1 >= 0) this.simpleAddPossibleMove(palanxHeadI - 1, palanxHeadJ - 1)
        if(palanxHeadJ - 1 >= 0) this.simpleAddPossibleMove(palanxHeadI, palanxHeadJ - 1)
        if(palanxHeadI + 1 < this.boardHeight && palanxHeadJ - 1 >= 0) this.simpleAddPossibleMove(palanxHeadI + 1, palanxHeadJ - 1)
      } else if (this.palanxLength > 1) {
        if(this.palanxDirection === 0) {
          if(palanxHeadI + 1 < this.boardHeight) this.addPossibleMoves(palanxHeadI + 1, palanxHeadJ, 1, 0, 0)
          if(palanxHeadI - 1 >= 0) this.addPossibleMoves(palanxHeadI - 1, palanxHeadJ, -1, 0, 0)
          if(palanxTailI + 1 < this.boardHeight) this.addPossibleMoves(palanxTailI + 1, palanxTailJ, 1, 0, 0)
          if(palanxTailI - 1 >= 0) this.addPossibleMoves(palanxTailI - 1, palanxTailJ, -1, 0, 0)
        } else if(this.palanxDirection === 1) {
          if(palanxHeadI + 1 < this.boardHeight && palanxHeadJ + 1 < this.boardWidth) this.addPossibleMoves(palanxHeadI + 1, palanxHeadJ + 1, 1, 1, 0)
          if(palanxHeadI - 1 >= 0 && palanxHeadJ - 1 >= 0) this.addPossibleMoves(palanxHeadI - 1, palanxHeadJ - 1, -1, -1, 0)
          if(palanxTailI + 1 < this.boardHeight && palanxTailJ + 1 < this.boardWidth) this.addPossibleMoves(palanxTailI + 1, palanxTailJ + 1, 1, 1, 0)
          if(palanxTailI - 1 >= 0 && palanxTailJ - 1 >= 0) this.addPossibleMoves(palanxTailI - 1, palanxTailJ - 1, -1, -1, 0)
        } else if(this.palanxDirection === 2) {
          if(palanxHeadJ + 1 < this.boardWidth) this.addPossibleMoves(palanxHeadI, palanxHeadJ + 1, 0, 1, 0)
          if(palanxHeadJ - 1 >= 0) this.addPossibleMoves(palanxHeadI, palanxHeadJ - 1, 0, -1, 0)
          if(palanxTailJ + 1 < this.boardWidth) this.addPossibleMoves(palanxTailI, palanxTailJ + 1, 0, 1, 0)
          if(palanxTailJ - 1 >= 0) this.addPossibleMoves(palanxTailI, palanxTailJ - 1, 0, -1, 0)
        } else if(this.palanxDirection === 3) {
          if(palanxHeadI + 1 < this.boardHeight && palanxHeadJ - 1 >= 0) this.addPossibleMoves(palanxHeadI + 1, palanxHeadJ - 1, 1, -1, 0)
          if(palanxHeadI - 1 >= 0 && palanxHeadJ + 1 < this.boardWidth) this.addPossibleMoves(palanxHeadI - 1, palanxHeadJ + 1, -1, 1, 0)
          if(palanxTailI + 1 < this.boardHeight && palanxTailJ - 1 >= 0) this.addPossibleMoves(palanxTailI + 1, palanxTailJ - 1, 1, -1, 0)
          if(palanxTailI - 1 >= 0 && palanxTailJ + 1 < this.boardWidth) this.addPossibleMoves(palanxTailI - 1, palanxTailJ + 1, -1, 1, 0)
        }
      }
    },
    simpleAddPossibleMove(i, j) {
      let cell = this.gameBoard[i][j]
      if (!cell.color) {
        cell.isMovePossible = true
        this.possibleMoves.push(cell)
      }
    },
    addPossibleMoves(i, j, iVector, jVector, index) {
      let cell = this.gameBoard[i][j]
      if ((this.isWhite === true  && cell.color === 'Black') || (this.isWhite === false && cell.color === 'White')) {
        if (this.palanxLength > this.countOpponentPalanxLength(i, j, iVector, jVector, 0)) {
          cell.isMovePossible = true
          this.possibleMoves.push(cell)
        }
        return
      } else if ((this.isWhite === true && cell.color === 'White') || (this.isWhite  === false && cell.color === 'Black')) {
        return
      }
      cell.isMovePossible = true
      this.possibleMoves.push(cell)
      let nextI = i + iVector
      let nextJ = j + jVector
      if (nextI >= 0 && nextI < this.boardHeight && nextJ >= 0 && nextJ < this.boardWidth && index + 1 < this.palanxLength) {
        this.addPossibleMoves(nextI, nextJ, iVector, jVector, index + 1)
      }
    },
    countOpponentPalanxLength(i, j, iVector, jVector, opponentPalanxLength) {
      let cell = this.gameBoard[i][j]
      if ((this.isWhite && cell.color === 'Black') || (!this.isWhite && cell.color === 'White')) {
        opponentPalanxLength = opponentPalanxLength + 1;
      } else {
        return opponentPalanxLength
      }
      let nextI = i + iVector
      let nextJ = j + jVector
      if (nextI < 0 || nextI >= this.boardHeight || nextI < 0 || nextJ >= this.boardWidth) {
        return opponentPalanxLength
      }
      return this.countOpponentPalanxLength(nextI, nextJ, iVector, jVector, opponentPalanxLength)
    },
    removePossibleMoves() {
      while(this.possibleMoves.length > 0) {
          let move = this.possibleMoves.pop()
          move.isMovePossible = false
        }
    },
    findPreTail: function(cell) {
      if(!cell.next || !this.palanxTail) {
        return undefined
      }
      if(this.equals(cell.next, this.palanxTail)) {
        return cell
      }
      return this.findPreTail(cell.next)
    },
    setNewHead: function(cell) {
      let curHead = this.palanxHead
      this.palanxHead = cell
      this.palanxHead.next = curHead
    },
    setNewTail: function(cell) {
      let curTail = this.palanxTail
      this.palanxTail = cell
      curTail.next = this.palanxTail
    },
    equals: function(cell1, cell2) {
      if (cell1 === cell2) {
        return true
      }
      if (!cell1 || !cell2) {
        return false
      }
      return cell1.position[0] === cell2.position[0] && cell1.position[1] === cell2.position[1]
    },
    isMovePossible: function(i, j) {
      if (!this.gameBoard || this.gameBoard.length < i || this.gameBoard[0].length < j) {
        return false
      }
      let checker = this.gameBoard[i - 1][j - 1]
      return checker.isMovePossible
    },
    startGameCheckProcess: function() {
      const millisecondsToWait = 1000;
      if (this.isPlayerTurn) {
        return
      }
      let that = this
      setTimeout(function() {
        axios.get('/game/' + that.gameId)
          .then(response => {
            that.updateGameBoard(response.data.gameBoard.squares)
            that.status = response.data.status
            if (that.isWhite === true) {
              that.opponent = response.data.blackPlayer
            } else if (that.isWhite === false) {
              that.opponent = response.data.whitePlayer
            }
            that.startGameCheckProcess()
          })
          .catch(error => {
            console.log(error)
            that.startGameCheckProcess()
          })
        }, millisecondsToWait);
    },
    initGameBoard: function() {
      for(var i = 0; i < this.boardHeight; i++) {
        let row = []
        for(var j = 0; j < this.boardWidth; j++) {
          let cell = {
            position: [i, j],
          }
          this.buildCellKey(cell)
          row.push(cell)
        }
        this.gameBoard.push(row)
      }
    },
    updateGameBoard: function(serverGameBoard) {
      for(var i = 0; i < this.boardHeight; i++) {
        for(var j = 0; j < this.boardWidth; j++) {
          let cell = this.gameBoard[i][j]
          if (!cell) {
            cell = {
              position: [i, j]
            }
          }
          cell.isSelected = false
          cell.isMovePossible = false
          cell.next = undefined
          let serverCell = serverGameBoard[i][j]
          if (serverCell) {
            cell.color = serverCell.color
          } else {
            cell.color = undefined
          }
          this.buildCellKey(cell)
        }
      }
    },
    buildCellKey: function(cell) {
      let key = cell.position[0] + ';' + cell.position[1] + ';'
      if (cell.color) {
        key += cell.color + ';'
      }
      if (cell.isSelected) {
        key += 'selected'
      } else if (cell.isMovePossible) {
        key += 'moveIsPossible'
      }
      cell.key = key
    }
  }
}
</script>

<style scoped>
  .control-column {
    background-color: #F7F8D6;
    height: 100vh;
  }

  .stats-column {
    background-color: #F7F8D6;
    height: 100vh;
  }

  .board {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border: 1px solid black;
    width: 975px;
    height: 845px;
    text-align: center;
  }

  .board td, th {
    border: 1px solid black;
  }

  .board-cell {
    background-color: #F7F8D6;
    height: 65px;
    width: 65px;
    padding: 0;
  }

  tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background-color: #B8B9A0;
  }

  .board-col-header {
    background-color: #928F7C;
    color: #F7F8D6;
  }

  .board-row-header {
    background-color: #928F7C;
    color: #F7F8D6;
  }

  .white-dot {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    align-self: center;
    border: 1px solid black;
  }

  .white-dot-hoverable:hover {
    background-color: #a59e9e;
  }

  .black-dot {
    height: 50px;
    width: 50px;
    background-color: #2c2b2b;
    border-radius: 50%;
    align-self: center;
    border: 1px solid black;
  }

  .black-dot-hoverable:hover {
    background-color: #726767;
  }

  .cell-background {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell-background-selected {
    background-color: #0000FF;
  }

  .cell-background-possible-move {
    background-color: #9294FF;
  }

  .cell-background-possible-move:hover {
    background-color: #555585;
  }

  .game-status-container {
    height: 15vh;
    margin-top: 1vh;
    width: 100%;
  }

  .player-container {
    border-top: 1px dashed #000;
    height: 20vh;
    width: 100%;
  }

  .monospaced {
    font-family: monospace
  }

  .player-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
  }

  .player-white-dot {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    border: 1px solid black;
  }

  .player-black-dot {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    background-color: #2c2b2b;
    border-radius: 50%;
    display: block;
    border: 1px solid black;
  }

  .player-nickname {
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 5px;
  }

  .player-nickname span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 1.2em;
  }

  .player-info {
    height: 50px;
    width: 100%;
  }
</style>
